server {
    listen 80;
    server_name mero2.up.railway.app;

    location /socket.io/ {
        proxy_pass http://localhost:3000/socket.io/; # Replace PORT with your backend app port
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location / {
        proxy_pass http://localhost:PORT/; # Replace PORT with your backend app port
    }
}
